.commentForm {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.commentForm input {
  font-family: inherit;
  box-sizing: border-box;
  padding: 8px;
  margin: 0 20px;
}

.commentButton {
  cursor: pointer;
  align-self: flex-start;
  font-family: inherit;
  font-size: 12px;
  padding: 5px 8px;
  margin-left: 20px;
  margin-top: 14px;
  border-radius: 10px;
  border: none;
  background: var(--primary);
  color: white;
}

@media (min-width: 560px) {

  .commentForm input {
    font-size: 16px;
  }

  .commentButton {
    font-size: 16px;
  }
}