.comment {
  padding: 0 20px;
  font-size: 14px;
  margin: 20px 0;
}

.commentUser {
  font-weight: bold;
  margin-right: 5px;
}

.commentUsername {
  color: gray;
}

.commentContent {
  margin-top: 5px;
}

@media (min-width: 560px) {
  .comment {
    font-size: 16px;
  }
}