.addPost{
  display: flex;
  margin: 30px 0;
  padding: 0 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 50%;
}

.more {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.textarea {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 5px;
  font-family: inherit;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.gallery {
  width: 25px;
  height: 25px;
}

.gallery img {
  cursor: pointer;
  width: 100%;
}

.postButton {
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 10px;
  border: none;
  background: var(--primary);
  color: white;
}

@media (min-width: 560px) {

  .avatar {
    width: 50px;
    height: 50px;
  }

  .gallery {
    width: 32px;
    height: 32px;
  }

  .postButton {
    font-size: 16px;
  }

  .textarea {
    font-size: 16px;
  }

}