.navbar {
  display: flex;
  padding: 20px 10px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.navbarLink {
  text-decoration: none;
  color: var(--primary);
}

.navbarIcons {
  display: flex;
}

.navbarIcons img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.navbarLogo {
  font-size: 35px;
}